.switch{
  display: flex;
}

.switch button {
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.switch button::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 50%;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.switch button.active {
  background-color: orange;
  color: black;
}

.switch button.active::after {
  right: 0;
  left: unset;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.switch button span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background-color: transparent;
  color: white;
}
