:root{
  --primary-color: #3BB4C1;
  --primary-color-hover: #A2CFD5;

  --secondary-color: #fff;

  --terty-color: #42CFD5;

  --icon-color: #048998;
  --title-color: #707070;
  --aside-color: #F6F5F5;

  --text-color: #6C757D;
  --text-color-hover: white;
  --text-color-dark: black;
  --text-color-light: #ccc;

  --border-color: #048998;
  --box-shadow: 4px 4px 15px rgba(0,0,0, .5);
}
